#image-box {
  max-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#image-box > img {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
}

#profile-box {
  padding: 16px;
  margin-top: 8px;
  border-bottom: 1px solid #e9ecef;
  display: flex;
  align-items: center;
}

#profile-box > img {
  width: 50px;
  height: 50px;
}

#profile-box > span {
  font-size: 15px;
  margin-left: 8px;
  font-weight: 600;
}

#contents-box {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

#name {
  font-size: 20px;
  font-weight: 600;
  color: rgb(27, 2, 87);
  padding-bottom: 10px;
}

#price {
  font-size: 16px;
  font-weight: 600;
}

#createdAt {
  margin-top: 5px;
  font-size: 12px;
  color: rgb(204, 204, 204);
}

#description {
  margin-top: 15px;
  padding: 16px;
  font-size: 16px;
  border-top: 1px solid rgba(67, 157, 246, 0.443);
  border-bottom: 1px solid rgba(67, 157, 246, 0.443);
  background-color: rgba(164, 208, 254, 0.051);
}

#purchase-button {
  margin-top: 8px;
  margin-bottom: 16px;
}
